# project 1
1- import the library that need for basic statistic.
<br>2- import data from this link(https://raw.githubusercontent.com/plotly/datasets/master/2010_alcohol_consumption_by_country.csv)</br>
<br>3- compute statistics parameters such as the mean, standard deviation, median, mode, maximum and minimum, range,1st,second and third percentile of the data</br>

# Answer:

In [0]:
import pandas as pd
import numpy as np
from scipy import stats
data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2010_alcohol_consumption_by_country.csv')
df = data[0:10]
print(df)

           location  alcohol
0           Belarus     17.5
1           Moldova     16.8
2         Lithuania     15.4
3            Russia     15.1
4           Romania     14.4
5           Ukraine     13.9
6           Andorra     13.8
7           Hungary     13.3
8    Czech Republic     13.0
9          Slovakia     13.0
10         Portugal     12.9
11           Serbia     12.6
12          Grenada     12.5
13           Poland     12.5
14           Latvia     12.3
15          Finland     12.3
16      South Korea     12.3
17           France     12.2
18        Australia     12.2
19          Croatia     12.2
20          Ireland     11.9
21       Luxembourg     11.9
22          Germany     11.8
23         Slovenia     11.6
24   United Kingdom     11.6
25          Denmark     11.4
26         Bulgaria     11.4
27            Spain     11.2
28          Belgium     11.0
29     South Africa     11.0
..              ...      ...
161        Malaysia      1.3
162           Syria      1.2
163        Maldives      1.2
164            Mali      1.1
165         Eritrea      1.1
166         Algeria      1.0
167            Iran      1.0
168            Oman      0.9
169          Brunei      0.9
170         Morocco      0.9
171          Jordan      0.7
172          Bhutan      0.7
173          Guinea      0.7
174           Burma      0.7
175     Afghanistan      0.7
176         Senegal      0.6
177       Indonesia      0.6
178     Timor-Leste      0.6
179            Iraq      0.5
180         Somalia      0.5
181           Egypt      0.4
182           Niger      0.3
183           Yemen      0.3
184         Comoros      0.2
185    Saudi Arabia      0.2
186      Bangladesh      0.2
187          Kuwait      0.1
188           Libya      0.1
189      Mauritania      0.1
190        Pakistan      0.1

[191 rows x 2 columns]
         location  alcohol
0         Belarus     17.5
1         Moldova     16.8
2       Lithuania     15.4
3          Russia     15.1
4         Romania     14.4
5         Ukraine     13.9
6         Andorra     13.8
7         Hungary     13.3
8  Czech Republic     13.0
9        Slovakia     13.0

In [0]:
#statistic of 10 rows of data
mean = np.mean(df['alcohol'])
std = np.std(df['alcohol'])
median = np.median(df['alcohol'])
maximum = np.max(df['alcohol'])
minimum = np.min(df['alcohol'])
rg =np.ptp(df['alcohol'])
mode = stats.mode(df['alcohol'])

print("mean=", mean)
print("std=", std)
print("median=", median)
print("maximum=", maximum)
print("minimum=", minimum)
print("range=", rg)
print("mode=", mode)

mean= 14.62
std= 1.4871449156
median= 14.15
maximum= 17.5
minimum= 13.0
range= 4.5
mode= ModeResult(mode=array([ 13.]), count=array([2]))

In [0]:
#statistic of all data
mean = np.mean(data['alcohol'])
std = np.std(data['alcohol'])
median = np.median(data['alcohol'])
maximum = np.max(data['alcohol'])
minimum = np.min(data['alcohol'])
mode = stats.mode(data['alcohol'])
rg =np.ptp(data['alcohol'])
percentile1=np.percentile(data['alcohol'],25)
percentile2=np.percentile(data['alcohol'],50)
percentile3=np.percentile(data['alcohol'],75)

print("mean=", mean)
print("std=", std)
print("median=", median)
print("maximum=", maximum)
print("minimum=", minimum)
print("mode=", mode)
print("range=", rg)
print("percentile1", percentile1)
print("percentile2", percentile2)
print("percentile3", percentile3)

mean= 6.20837696335
std= 4.13067100064
median= 6.4
maximum= 17.5
minimum= 0.1
mode= ModeResult(mode=array([ 0.7]), count=array([5]))
range= 17.4
percentile1 2.6
percentile2 6.4
percentile3 9.2

# project 2
<br>1-import data of brain_size file and print data so if it needs preproccessing try to do it</br>
<br>2-separating data ';'</br>
<br>3-change data . to nan</br>
<br>4- as nan data are in weight and height column so change nan data to mean of that specific column.</br>
<br>5- find statistic parameters for height </br>
<br>6- find statistic parameters for weight</br>

In [0]:
import pandas as pd
import numpy as np
from scipy import stats
#1 
data2 = pd.read_csv('brain_size.csv')
print(data2)

   ;"Gender";"FSIQ";"VIQ";"PIQ";"Weight";"Height";"MRI_Count"
0          1;"Female";133;132;124;"118";"64.5";816932
1             2;"Male";140;150;124;".";"72.5";1001121
2           3;"Male";139;123;150;"143";"73.3";1038437
3            4;"Male";133;129;128;"172";"68.8";965353
4          5;"Female";137;132;134;"147";"65.0";951545
5            6;"Female";99;90;110;"146";"69.0";928799
6          7;"Female";138;136;131;"138";"64.5";991305
7             8;"Female";92;90;98;"175";"66.0";854258
8               9;"Male";89;93;84;"134";"66.3";904858
9           10;"Male";133;114;147;"172";"68.8";955466
10        11;"Female";132;129;124;"118";"64.5";833868
11         12;"Male";141;150;128;"151";"70.0";1079549
12          13;"Male";135;129;124;"155";"69.0";924059
13        14;"Female";140;120;147;"155";"70.5";856472
14          15;"Female";96;100;90;"146";"66.0";878897
15           16;"Female";83;71;96;"135";"68.0";865363
16        17;"Female";132;132;120;"127";"68.5";852244
17           18;"Male";100;96;102;"178";"73.5";945088
18         19;"Female";101;112;84;"136";"66.3";808020
19             20;"Male";80;77;86;"180";"70.0";889083
20                  21;"Male";83;83;86;".";".";892420
21            22;"Male";97;107;84;"186";"76.5";905940
22        23;"Female";135;129;134;"122";"62.0";790619
23          24;"Male";139;145;128;"132";"68.0";955003
24          25;"Female";91;86;102;"114";"63.0";831772
25          26;"Male";141;145;131;"171";"72.0";935494
26           27;"Female";85;90;84;"140";"68.0";798612
27          28;"Male";103;96;110;"187";"77.0";1062462
28           29;"Female";77;83;72;"106";"63.0";793549
29        30;"Female";130;126;124;"159";"66.5";866662
30        31;"Female";133;126;132;"127";"62.5";857782
31          32;"Male";144;145;137;"191";"67.0";949589
32           33;"Male";103;96;110;"192";"75.5";997925
33             34;"Male";90;96;86;"181";"69.0";879987
34           35;"Female";83;90;81;"143";"66.5";834344
35        36;"Female";133;129;128;"153";"66.5";948066
36          37;"Male";140;150;124;"144";"70.5";949395
37           38;"Female";88;86;94;"139";"64.5";893983
38             39;"Male";81;90;74;"148";"74.0";930016
39             40;"Male";89;91;89;"179";"75.5";935863

In [0]:
#2 separate data with';'
data2 = pd.read_csv('brain_size.csv',sep=";")
print(data2)

    Unnamed: 0  Gender  FSIQ  VIQ  PIQ Weight Height  MRI_Count
0            1  Female   133  132  124    118   64.5     816932
1            2    Male   140  150  124      .   72.5    1001121
2            3    Male   139  123  150    143   73.3    1038437
3            4    Male   133  129  128    172   68.8     965353
4            5  Female   137  132  134    147   65.0     951545
5            6  Female    99   90  110    146   69.0     928799
6            7  Female   138  136  131    138   64.5     991305
7            8  Female    92   90   98    175   66.0     854258
8            9    Male    89   93   84    134   66.3     904858
9           10    Male   133  114  147    172   68.8     955466
10          11  Female   132  129  124    118   64.5     833868
11          12    Male   141  150  128    151   70.0    1079549
12          13    Male   135  129  124    155   69.0     924059
13          14  Female   140  120  147    155   70.5     856472
14          15  Female    96  100   90    146   66.0     878897
15          16  Female    83   71   96    135   68.0     865363
16          17  Female   132  132  120    127   68.5     852244
17          18    Male   100   96  102    178   73.5     945088
18          19  Female   101  112   84    136   66.3     808020
19          20    Male    80   77   86    180   70.0     889083
20          21    Male    83   83   86      .      .     892420
21          22    Male    97  107   84    186   76.5     905940
22          23  Female   135  129  134    122   62.0     790619
23          24    Male   139  145  128    132   68.0     955003
24          25  Female    91   86  102    114   63.0     831772
25          26    Male   141  145  131    171   72.0     935494
26          27  Female    85   90   84    140   68.0     798612
27          28    Male   103   96  110    187   77.0    1062462
28          29  Female    77   83   72    106   63.0     793549
29          30  Female   130  126  124    159   66.5     866662
30          31  Female   133  126  132    127   62.5     857782
31          32    Male   144  145  137    191   67.0     949589
32          33    Male   103   96  110    192   75.5     997925
33          34    Male    90   96   86    181   69.0     879987
34          35  Female    83   90   81    143   66.5     834344
35          36  Female   133  129  128    153   66.5     948066
36          37    Male   140  150  124    144   70.5     949395
37          38  Female    88   86   94    139   64.5     893983
38          39    Male    81   90   74    148   74.0     930016
39          40    Male    89   91   89    179   75.5     935863

In [0]:
#3 change '.' to nan values
data2 = pd.read_csv('brain_size.csv',sep=";", na_values=".")
print(data2)

    Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0            1  Female   133  132  124   118.0    64.5     816932
1            2    Male   140  150  124     NaN    72.5    1001121
2            3    Male   139  123  150   143.0    73.3    1038437
3            4    Male   133  129  128   172.0    68.8     965353
4            5  Female   137  132  134   147.0    65.0     951545
5            6  Female    99   90  110   146.0    69.0     928799
6            7  Female   138  136  131   138.0    64.5     991305
7            8  Female    92   90   98   175.0    66.0     854258
8            9    Male    89   93   84   134.0    66.3     904858
9           10    Male   133  114  147   172.0    68.8     955466
10          11  Female   132  129  124   118.0    64.5     833868
11          12    Male   141  150  128   151.0    70.0    1079549
12          13    Male   135  129  124   155.0    69.0     924059
13          14  Female   140  120  147   155.0    70.5     856472
14          15  Female    96  100   90   146.0    66.0     878897
15          16  Female    83   71   96   135.0    68.0     865363
16          17  Female   132  132  120   127.0    68.5     852244
17          18    Male   100   96  102   178.0    73.5     945088
18          19  Female   101  112   84   136.0    66.3     808020
19          20    Male    80   77   86   180.0    70.0     889083
20          21    Male    83   83   86     NaN     NaN     892420
21          22    Male    97  107   84   186.0    76.5     905940
22          23  Female   135  129  134   122.0    62.0     790619
23          24    Male   139  145  128   132.0    68.0     955003
24          25  Female    91   86  102   114.0    63.0     831772
25          26    Male   141  145  131   171.0    72.0     935494
26          27  Female    85   90   84   140.0    68.0     798612
27          28    Male   103   96  110   187.0    77.0    1062462
28          29  Female    77   83   72   106.0    63.0     793549
29          30  Female   130  126  124   159.0    66.5     866662
30          31  Female   133  126  132   127.0    62.5     857782
31          32    Male   144  145  137   191.0    67.0     949589
32          33    Male   103   96  110   192.0    75.5     997925
33          34    Male    90   96   86   181.0    69.0     879987
34          35  Female    83   90   81   143.0    66.5     834344
35          36  Female   133  129  128   153.0    66.5     948066
36          37    Male   140  150  124   144.0    70.5     949395
37          38  Female    88   86   94   139.0    64.5     893983
38          39    Male    81   90   74   148.0    74.0     930016
39          40    Male    89   91   89   179.0    75.5     935863

In [0]:
#4  fill the nan values with mean of that column
data2['Weight']=data2['Weight'].fillna(np.mean(data2['Weight']))
data2['Height']=data2['Height'].fillna(np.mean(data2['Height']))
print(data2)

    Unnamed: 0  Gender  FSIQ  VIQ  PIQ      Weight     Height  MRI_Count
0            1  Female   133  132  124  118.000000  64.500000     816932
1            2    Male   140  150  124  151.052632  72.500000    1001121
2            3    Male   139  123  150  143.000000  73.300000    1038437
3            4    Male   133  129  128  172.000000  68.800000     965353
4            5  Female   137  132  134  147.000000  65.000000     951545
5            6  Female    99   90  110  146.000000  69.000000     928799
6            7  Female   138  136  131  138.000000  64.500000     991305
7            8  Female    92   90   98  175.000000  66.000000     854258
8            9    Male    89   93   84  134.000000  66.300000     904858
9           10    Male   133  114  147  172.000000  68.800000     955466
10          11  Female   132  129  124  118.000000  64.500000     833868
11          12    Male   141  150  128  151.000000  70.000000    1079549
12          13    Male   135  129  124  155.000000  69.000000     924059
13          14  Female   140  120  147  155.000000  70.500000     856472
14          15  Female    96  100   90  146.000000  66.000000     878897
15          16  Female    83   71   96  135.000000  68.000000     865363
16          17  Female   132  132  120  127.000000  68.500000     852244
17          18    Male   100   96  102  178.000000  73.500000     945088
18          19  Female   101  112   84  136.000000  66.300000     808020
19          20    Male    80   77   86  180.000000  70.000000     889083
20          21    Male    83   83   86  151.052632  68.525641     892420
21          22    Male    97  107   84  186.000000  76.500000     905940
22          23  Female   135  129  134  122.000000  62.000000     790619
23          24    Male   139  145  128  132.000000  68.000000     955003
24          25  Female    91   86  102  114.000000  63.000000     831772
25          26    Male   141  145  131  171.000000  72.000000     935494
26          27  Female    85   90   84  140.000000  68.000000     798612
27          28    Male   103   96  110  187.000000  77.000000    1062462
28          29  Female    77   83   72  106.000000  63.000000     793549
29          30  Female   130  126  124  159.000000  66.500000     866662
30          31  Female   133  126  132  127.000000  62.500000     857782
31          32    Male   144  145  137  191.000000  67.000000     949589
32          33    Male   103   96  110  192.000000  75.500000     997925
33          34    Male    90   96   86  181.000000  69.000000     879987
34          35  Female    83   90   81  143.000000  66.500000     834344
35          36  Female   133  129  128  153.000000  66.500000     948066
36          37    Male   140  150  124  144.000000  70.500000     949395
37          38  Female    88   86   94  139.000000  64.500000     893983
38          39    Male    81   90   74  148.000000  74.000000     930016
39          40    Male    89   91   89  179.000000  75.500000     935863

In [0]:
#5  finding statistic parameters of weight and height
print('weight_statistic:')

mean = np.mean(data2['Weight'])
std = np.std(data2['Weight'])
median = np.median(data2['Weight'])
maximum = np.max(data2['Weight'])
minimum = np.min(data2['Weight'])
mode = stats.mode(data2['Weight'])
rg =np.ptp(data2['Weight'])
percentile1=np.percentile(data2['Weight'],25)
percentile2=np.percentile(data2['Weight'],50)
percentile3=np.percentile(data2['Weight'],75)


print("mean=", mean)
print("std=", std)
print("median=", median)
print("maximum=", maximum)
print("minimum=", minimum)
print("mode=", mode)
print("range=", rg)
print("percentile=",percentile1)
print("percentile=",percentile2)
print("percentile=",percentile3)

weight_statistic:
mean= 151.052631579
std= 23.1675219223
median= nan
maximum= 192.0
minimum= 106.0
mode= ModeResult(mode=array([ 118.]), count=array([2]))
range= 86.0
percentile= nan
percentile= nan
percentile= nan

C:\Users\PC\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\numpy\lib\function_base.py:4016: RuntimeWarning: Invalid value encountered in median
  r = func(a, **kwargs)
C:\Users\PC\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\numpy\lib\function_base.py:4274: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [0]:

print('Height_statistic:') 

mean = np.mean(data2['Height'])
std = np.std(data2['Height'])
median = np.median(data2['Height'])
maximum = np.max(data2['Height'])
minimum = np.min(data2['Height'])
mode = stats.mode(data2['Height'])
rg =np.ptp(data2['Height'])
percentile1=np.percentile(data2['Height'],25)
percentile2=np.percentile(data2['Height'],50)
percentile3=np.percentile(data2['Height'],75)


print("mean=", mean)
print("std=", std)
print("median=", median)
print("maximum=", maximum)
print("minimum=", minimum)
print("mode=", mode)
print("range=", rg)
print("percentile1=",percentile1)
print("percentile2=",percentile2)
print("percentile3=",percentile3)

Height_statistic:
mean= 68.5256410256
std= 3.89350214773
median= 68.25
maximum= 77.0
minimum= 62.0
mode= ModeResult(mode=array([ 64.5]), count=array([4]))
range= 15.0
percentile1= 66.0
percentile2= 68.25
percentile3= 70.5

# project3

there is a simple command for dataset statistic that is .describe() 
use this library for two data set.

In [0]:
print(data.describe())

          alcohol
count  191.000000
mean     6.208377
std      4.141527
min      0.100000
25%      2.600000
50%      6.400000
75%      9.200000
max     17.500000

In [0]:
data2.describe()

,Unnamed: 0,FSIQ,VIQ,PIQ,Weight,Height,MRI_Count
count,40.000000,40.000000,40.000000,40.00000,38.000000,39.000000,4.000000e+01
mean,20.500000,113.450000,112.350000,111.02500,151.052632,68.525641,9.087550e+05
std,11.690452,24.082071,23.616107,22.47105,23.478509,3.994649,7.228205e+04
min,1.000000,77.000000,71.000000,72.00000,106.000000,62.000000,7.906190e+05
25%,10.750000,89.750000,90.000000,88.25000,135.250000,66.000000,8.559185e+05
50%,20.500000,116.500000,113.000000,115.00000,146.500000,68.000000,9.053990e+05
75%,30.250000,135.500000,129.750000,128.00000,172.000000,70.500000,9.500780e+05
max,40.000000,144.000000,150.000000,150.00000,192.000000,77.000000,1.079549e+06